<h1>Tasks#new</h1>
<%= form_for(@task) do |f| %>
    <b> Name 
    <%= f.text_field :name %>
    <b> Description
    <%= f.text_field :description %>
    <b> Done 
    <%= f.check_box :done %>
    <%= f.submit "Submit" %>
<% end %>
